{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sparks</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
<body>
    
   <!-- navbar -->
  <nav class="navbar header navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><font class="hed">THE SPARKS Bank</font></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="links collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="http://127.0.0.1:8000/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/customer">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about-us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact-us">Contact</a>
          </li>
        </ul>
      </div>
  </div>
  </nav>
  <!-- navabar ends -->
  <div class="container">
    <br><br>
    <h1 class="">Hi User...</h1><br>
    <table class="table table-hover ">
        <thead>
            <tr class="tablehed">
                <th>Sl no</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Current Balance</th>
                <th>Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tbody">
                <td>1</td>
                <td>Clark</td>
                <td>clarkkent@mail.com</td>
                <td>2300</td>
                <td><button class="button"><a href="">Veiw Profile</a>
                </button></td>
            </tr>
        </tbody>
    </table>

    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                        <p class="para">Make your personal transactions here</p><br>

                        <form class="mx-1 mx-md-4 pay-form">
      
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="text" name="from" id="form3Example1c" class="form-control" placeholder="name" />
                          </div>
                        </div>
      
                        
      
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>To</option>
                                <option value="1" name="to">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fa fa-money fa-2x" aria-hidden="true"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="number" name="amount" placeholder="Enter the amount to be transferred" id="form3Example3c" class="form-control" />
                          </div>
                        </div>
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <button type="button" class="btn btn-primary btn-lg">Transfer</button>
                        </div>
      
                      </form>
      
                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
      
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                        class="img-fluid" alt="Sample image">
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
<footer class="text-center text-lg-start bg-dark text-white">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom head">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block head1">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div class="icons">
        <a href="" class="me-4 link-secondary">
          <i class="fa fa-twitter fa-1x" aria-hidden="true"></i>      </a>
        <a href="" class="me-4 link-secondary">
          <i class="fa fa-facebook fa-1x" aria-hidden="true"></i>       </a>
        <a href="" class="me-4 link-secondary">
          <i class="fa fa-google fa-1x" aria-hidden="true"></i>       </a>
        <a href="" class="me-4 link-secondary">
          <i class="fa fa-instagram fa-1x" aria-hidden="true"></i>       </a>
        <a href="" class="me-4 link-secondary">
          <i class="fa fa-linkedin fa-1x" aria-hidden="true"></i>       </a>
        <a href="" class="me-4 link-secondary">
          <i class="fa fa-github fa-1x" aria-hidden="true"></i>       </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgb(61, 7, 238);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/"><span id="us">@</span>Sparks</a>
    </div>
    <!-- Copyright -->
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>